@font-face {
  font-family: 'lotus';
  src: url('/fonts/lotus.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

body {
  padding: 0;
  margin: 0;
  font-family: lotus, -apple-system-font, 'Helvetica Neue', Helvetica,
    sans-serif;
  background-color: #1a1a1a;
}

a,
a:visited {
  color: #cc361e;
}

@media (max-width: 414px) {
  .hideOnMobile {
    display: none !important;
  }
}

/* Feed */

.ReactVirtualized__Grid.ReactVirtualized__List:focus {
  outline-width: 0px !important;
  outline: none !important;
}

.ReactVirtualized__Grid.ReactVirtualized__List:active {
  outline-width: 0px !important;
  outline: none !important;
}

.modal {
  border-image: url(/border.png) 10 10 repeat;
  border-width: 10px;
  background-clip: padding-box;
  background-position: center;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: optimize-contrast;
  image-rendering: pixelated;
  background-color: #0000ff;
  background-size: auto 200px;
  background-repeat: no-repeat;
  width: 100%;
  max-width: 600px;
}

.modalOverlay {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(33, 33, 33, 0.8);
  display: flex;
  overflow-y: scroll;
  z-index: 3;
  justify-content: center;
  align-items: center;
}

.window {
  width: 100%;
  margin-top: 20px;
  padding: 30px;
  flex-direction: column;
  display: flex;
  background: transparent;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 30px;
  background-color: rgba(33, 255, 33, 0);
  display: flex;
  overflow-y: scroll;
  z-index: 3;
  justify-content: center;
  backdrop-filter: blur(10px);
}

.profileData {
  padding: 0 20px;
}

.profileImage {
  font-family: VT323;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.dropzone {
  cursor: pointer;
  /* border-image: url(${pixelatedBorder}) 10 10 repeat; */
  border-width: 10px;
  background-clip: padding-box;
  background-position: center;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: optimize-contrast;
  image-rendering: pixelated;
  background-color: #0000ff;
  background-size: auto 200px;
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
}

@media screen and (max-width: 768px) {
  .profileImage {
    flex: 0 0 flex-shrink;
  }

  .dropzone {
    width: 100px;
    height: 100px;
  }

  h1 {
    font-size: 1em;
  }
}

.dropzone > input {
  height: 100%;
  width: 100%;
  background-color: red;
}
